flows.json
[
    {
        "id": "df661b12.b46a08",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd1fd1da.7471",
        "type": "osc",
        "z": "df661b12.b46a08",
        "name": "OSCESP2",
        "path": "/Yorgos",
        "metadata": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "1e38735c.24984d",
                "57745ef7.9e636",
                "256446d9.2b3b3a"
            ]
        ]
    },
    {
        "id": "947780cc.72502",
        "type": "udp in",
        "z": "df661b12.b46a08",
        "name": "ESP32",
        "iface": "",
        "port": "13000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "bd1fd1da.7471",
                "3f7041c5.b34e8e",
                "1e0447cf.ad7858",
                "2192af39.c311b",
                "3d350807.a85cb8"
            ]
        ]
    },
    {
        "id": "81af92b5.e4b8e",
        "type": "ui_gauge",
        "z": "df661b12.b46a08",
        "name": "",
        "group": "5572f23d.877dfc",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ax",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "3236d050.ab5b2",
        "type": "ui_gauge",
        "z": "df661b12.b46a08",
        "name": "",
        "group": "5572f23d.877dfc",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Az",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "1e38735c.24984d",
        "type": "html",
        "z": "df661b12.b46a08",
        "name": "",
        "property": "payload[0]",
        "outproperty": "payload[0]",
        "tag": "",
        "ret": "attr",
        "as": "single",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "81af92b5.e4b8e"
            ]
        ]
    },
    {
        "id": "57745ef7.9e636",
        "type": "html",
        "z": "df661b12.b46a08",
        "name": "",
        "property": "payload[1]",
        "outproperty": "payload[1]",
        "tag": "",
        "ret": "attr",
        "as": "single",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "3236d050.ab5b2"
            ]
        ]
    },
    {
        "id": "256446d9.2b3b3a",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "3f7041c5.b34e8e",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.101",
        "iface": "",
        "port": "12000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b6dcc1d.cfb6d4",
        "type": "udp in",
        "z": "df661b12.b46a08",
        "name": "Yorgos computer",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "4707f862.bc48e8",
                "7522f7ac.550188",
                "8366387e.b77d58",
                "f0e40b96.6b0c38"
            ]
        ]
    },
    {
        "id": "4707f862.bc48e8",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0e40b96.6b0c38",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.104",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "426e4d2c.7d21a4",
        "type": "udp in",
        "z": "df661b12.b46a08",
        "name": "ESP8266",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "b9582913.a16d98",
                "8a5d383f.451fd8",
                "21183940.0a90a6"
            ]
        ]
    },
    {
        "id": "b9582913.a16d98",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.101",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "38eb6992.8fbcf6",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 420,
        "wires": []
    },
    {
        "id": "8a5d383f.451fd8",
        "type": "osc",
        "z": "df661b12.b46a08",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "38eb6992.8fbcf6"
            ]
        ]
    },
    {
        "id": "7522f7ac.550188",
        "type": "osc",
        "z": "df661b12.b46a08",
        "name": "",
        "path": "/Flicker",
        "metadata": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "15238c1b.ce4b04"
            ]
        ]
    },
    {
        "id": "1e0447cf.ad7858",
        "type": "osc",
        "z": "df661b12.b46a08",
        "name": "OSCESP2",
        "path": "/Yorgos",
        "metadata": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6c4f62c2.71c9cc"
            ]
        ]
    },
    {
        "id": "15238c1b.ce4b04",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "6c4f62c2.71c9cc",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "d870ff95.466f4",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "From ESP32",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "e241db27.155d68",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "to Yorgos computer",
        "info": "",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "ddf77539.9dfe38",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "to ESP8266",
        "info": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "b7e01045.962a2",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "from ESP8266",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "6a517c59.50c5e4",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "to Yorgos computer",
        "info": "",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "64d5226b.79e84c",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "from Yorgos computer",
        "info": "",
        "x": 200,
        "y": 500,
        "wires": []
    },
    {
        "id": "57775a3b.033cb4",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "to Processing",
        "addr": "",
        "iface": "",
        "port": "13001",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "2192af39.c311b",
        "type": "debug",
        "z": "df661b12.b46a08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "8366387e.b77d58",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.103",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "44ebd91a.f21348",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "to ESP32",
        "info": "",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "fac2b65c.5b4308",
        "type": "comment",
        "z": "df661b12.b46a08",
        "name": "to my Computer",
        "info": "",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d350807.a85cb8",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.100",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "21183940.0a90a6",
        "type": "udp out",
        "z": "df661b12.b46a08",
        "name": "",
        "addr": "192.168.144.100",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "5572f23d.877dfc",
        "type": "ui_group",
        "z": "",
        "name": "testESP",
        "tab": "575c389.f655ec8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "575c389.f655ec8",
        "type": "ui_tab",
        "z": "",
        "name": "TestESP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
