flows.json
[{"id":"df661b12.b46a08","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bd1fd1da.7471","type":"osc","z":"df661b12.b46a08","name":"OSCESP2","path":"/Yorgos","metadata":false,"x":210,"y":180,"wires":[["1e38735c.24984d","57745ef7.9e636","256446d9.2b3b3a"]]},{"id":"4f6b4bee.b29ff4","type":"debug","z":"df661b12.b46a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":80,"wires":[]},{"id":"947780cc.72502","type":"udp in","z":"df661b12.b46a08","name":"ESP2","iface":"","port":"13000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":120,"y":80,"wires":[["bd1fd1da.7471","4f6b4bee.b29ff4","3f7041c5.b34e8e","54dfe182.9b3a8"]]},{"id":"81af92b5.e4b8e","type":"ui_gauge","z":"df661b12.b46a08","name":"","group":"5572f23d.877dfc","order":3,"width":0,"height":0,"gtype":"gage","title":"Ax","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":120,"wires":[]},{"id":"3236d050.ab5b2","type":"ui_gauge","z":"df661b12.b46a08","name":"","group":"5572f23d.877dfc","order":4,"width":0,"height":0,"gtype":"gage","title":"Az","label":"units","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"1e38735c.24984d","type":"html","z":"df661b12.b46a08","name":"","property":"payload[0]","outproperty":"payload[0]","tag":"","ret":"attr","as":"single","x":550,"y":120,"wires":[["81af92b5.e4b8e"]]},{"id":"57745ef7.9e636","type":"html","z":"df661b12.b46a08","name":"","property":"payload[1]","outproperty":"payload[1]","tag":"","ret":"attr","as":"single","x":550,"y":160,"wires":[["3236d050.ab5b2"]]},{"id":"256446d9.2b3b3a","type":"debug","z":"df661b12.b46a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":80,"wires":[]},{"id":"67ba862b.ed9378","type":"udp out","z":"df661b12.b46a08","name":"","addr":"10.42.0.17","iface":"","port":"12000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":600,"y":240,"wires":[]},{"id":"3093f8e5.699ec8","type":"tcp in","z":"df661b12.b46a08","name":"","server":"server","host":"","port":"8013","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":150,"y":920,"wires":[["6840c9e2.6c3838"]]},{"id":"a83941fe.77f01","type":"tcp in","z":"df661b12.b46a08","name":"","server":"server","host":"","port":"8012","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":170,"y":1000,"wires":[["765e976c.d8a008"]]},{"id":"6840c9e2.6c3838","type":"debug","z":"df661b12.b46a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":940,"wires":[]},{"id":"765e976c.d8a008","type":"debug","z":"df661b12.b46a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":1020,"wires":[]},{"id":"ab57e76a.e815f8","type":"udp out","z":"df661b12.b46a08","name":"","addr":"10.42.0.17","iface":"","port":"12000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":580,"y":320,"wires":[]},{"id":"3f7041c5.b34e8e","type":"udp out","z":"df661b12.b46a08","name":"","addr":"10.42.0.70","iface":"","port":"12000","ipv":"udp4","outport":"12000","base64":false,"multicast":"false","x":560,"y":500,"wires":[]},{"id":"54dfe182.9b3a8","type":"json","z":"df661b12.b46a08","name":"","property":"index","action":"","pretty":true,"x":270,"y":340,"wires":[["ab57e76a.e815f8","605b9a18.87c384"]]},{"id":"605b9a18.87c384","type":"debug","z":"df661b12.b46a08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"5572f23d.877dfc","type":"ui_group","z":"","name":"testESP","tab":"575c389.f655ec8","disp":true,"width":"6","collapse":false},{"id":"575c389.f655ec8","type":"ui_tab","z":"","name":"TestESP","icon":"dashboard","disabled":false,"hidden":false}]