flows.json
[
    {
        "id": "31d5dea.9458822",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e88c6ea.18ac58",
        "type": "osc",
        "z": "31d5dea.9458822",
        "name": "OSCESP2",
        "path": "/Yorgos",
        "metadata": false,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "b68e7a7f.5739a8",
                "d568f4ba.1f4fe8",
                "86fdd9ca.afcfb8"
            ]
        ]
    },
    {
        "id": "a2ba9493.a9a998",
        "type": "udp in",
        "z": "31d5dea.9458822",
        "name": "ESP32",
        "iface": "",
        "port": "13000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "4e88c6ea.18ac58",
                "c3702322.06df5",
                "d01802b.a8ec2",
                "4eac48f2.abfcd8"
            ]
        ]
    },
    {
        "id": "b6144cb4.96bda",
        "type": "ui_gauge",
        "z": "31d5dea.9458822",
        "name": "",
        "group": "9faf54b2.90fa68",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ax",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f1c9658.256b7a",
        "type": "ui_gauge",
        "z": "31d5dea.9458822",
        "name": "",
        "group": "9faf54b2.90fa68",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Az",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "b68e7a7f.5739a8",
        "type": "html",
        "z": "31d5dea.9458822",
        "name": "",
        "property": "payload[0]",
        "outproperty": "payload[0]",
        "tag": "",
        "ret": "attr",
        "as": "single",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "b6144cb4.96bda"
            ]
        ]
    },
    {
        "id": "d568f4ba.1f4fe8",
        "type": "html",
        "z": "31d5dea.9458822",
        "name": "",
        "property": "payload[1]",
        "outproperty": "payload[1]",
        "tag": "",
        "ret": "attr",
        "as": "single",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "3f1c9658.256b7a"
            ]
        ]
    },
    {
        "id": "86fdd9ca.afcfb8",
        "type": "debug",
        "z": "31d5dea.9458822",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "c3702322.06df5",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.101",
        "iface": "",
        "port": "12000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "79181a79.b26ca4",
        "type": "udp in",
        "z": "31d5dea.9458822",
        "name": "Yorgos computer",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "e01fc603.e045f8",
                "98e79e45.870cc",
                "b34a7d9c.92e48",
                "18d9228d.1af7dd"
            ]
        ]
    },
    {
        "id": "98e79e45.870cc",
        "type": "debug",
        "z": "31d5dea.9458822",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "e01fc603.e045f8",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.104",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "2c2394aa.8bbdbc",
        "type": "udp in",
        "z": "31d5dea.9458822",
        "name": "ESP8266",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "13072bbf.6336d4",
                "ab110764.9a1068",
                "106cad8e.ad8122"
            ]
        ]
    },
    {
        "id": "13072bbf.6336d4",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.101",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "d67853e2.4bcb5",
        "type": "debug",
        "z": "31d5dea.9458822",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab110764.9a1068",
        "type": "osc",
        "z": "31d5dea.9458822",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "d67853e2.4bcb5"
            ]
        ]
    },
    {
        "id": "b34a7d9c.92e48",
        "type": "osc",
        "z": "31d5dea.9458822",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "534b57da.ae9f38"
            ]
        ]
    },
    {
        "id": "d01802b.a8ec2",
        "type": "osc",
        "z": "31d5dea.9458822",
        "name": "OSCESP2",
        "path": "/Yorgos",
        "metadata": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "acefe1e5.9d426"
            ]
        ]
    },
    {
        "id": "534b57da.ae9f38",
        "type": "debug",
        "z": "31d5dea.9458822",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "acefe1e5.9d426",
        "type": "debug",
        "z": "31d5dea.9458822",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "f77ba811.c747f8",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "From ESP32",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1fda935.119cb8",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "to Yorgos computer",
        "info": "",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "3d175617.e5812a",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "to ESP8266",
        "info": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "b496fc91.44649",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "from ESP8266",
        "info": "",
        "x": 120,
        "y": 380,
        "wires": []
    },
    {
        "id": "f08f9af2.2c5998",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "to Yorgos computer",
        "info": "",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "263daac5.239f76",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "from Yorgos computer",
        "info": "",
        "x": 200,
        "y": 500,
        "wires": []
    },
    {
        "id": "106cad8e.ad8122",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.100",
        "iface": "",
        "port": "14000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "4eac48f2.abfcd8",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.100",
        "iface": "",
        "port": "12000",
        "ipv": "udp4",
        "outport": "12000",
        "base64": false,
        "multicast": "false",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "18d9228d.1af7dd",
        "type": "udp out",
        "z": "31d5dea.9458822",
        "name": "",
        "addr": "192.168.144.100",
        "iface": "",
        "port": "10000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "fe7b0950.1e1518",
        "type": "comment",
        "z": "31d5dea.9458822",
        "name": "to my Computer",
        "info": "",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "9faf54b2.90fa68",
        "type": "ui_group",
        "z": "",
        "name": "testESP",
        "tab": "a59415ff.7d1158",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a59415ff.7d1158",
        "type": "ui_tab",
        "z": "",
        "name": "TestESP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
